<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>CTS</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="all" type="text/css" />

  </head>
  <body>
    <div id="wrap">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="logout">Log out</a></li>
        <li><a href="login">Log in</a></li>
        <li><a href="signup">Sign up</a></li>
      </ul>

      <%-body -%>
    </div> <!-- end wrap -->
  </body>
</html>
