<html>
  <head>
  </head>
  <body>
    <div class="view">
      <a href="/zip/<%= filepath %>">View your website</a>
    </div>
    <div>
      OR
    </div>
    <div class="download">
      <a href="/zip/download/<%= filepath %>">Download your website</a>
    </div>
  </body>
</html>
