<html>
  <head>
  </head>
  <body>
    <div class="view">
      View your website:
      <a href="/zip/<%= filepath %>"><%= filepath %></a>
    </div>
    <div class="">
      <a href="/zip/download/<%= filepath %>">Download your website</a>
    </div>
  </body>
</html>
